* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  padding: 1rem 0 1rem 0;
  justify-content: center;
  color: white;
}

.searchBar {
  display: flex;
  width: 20%;
  min-width: 250px;
  height: 2.4rem;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.monsterCard {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid var(--gold);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  box-shadow: 1px 1px 4px black;
  min-width: 250px;
  width: 20%;
  height: 300px;
  background-color: white;
  overflow: hidden;
  transition: all .2s ease-in-out; 
}

.monsterCard:hover {
  transform: scale(1.02);
}

.monsterCard:active {
  transform: scale(1);
  box-shadow: none;
}

.monsterImg {
  display: flex;
  object-fit: cover;
  max-width: 98%;
  max-height: 98%;
  justify-self: center;
  padding: 0.5rem 0 1rem 0 ;
}

.cardLabel {
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  justify-content: center;
  height: fit-content;
  font-size: 1.3rem;
  font-weight: bolder;
  font-style: italic;
  border: 1px solid var(--gold);
  background-image: linear-gradient(40deg, rgb(251, 227, 86), white, var(--gold));
  color: black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  box-shadow: 1px 1px 2px black;
  width: 90%;
}

.cardLabel:hover {
  background-image: none;
  backdrop-filter: blur(8px) sepia(70%);
}