.App {
  text-align: center;
  box-sizing: border-box;
}

ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.monsterCard {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 6px;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 4px black;
  width: 20%;
}

.monsterImg {
  display: flex;
  width: 80%;
}