* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* NAVBAR */
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  position: sticky;
  border-bottom: 1px solid rgb(120, 83, 69);
  box-shadow: 1px 1px 3px rgb(120, 83, 69);
  margin: 0 0 0.5rem 0;
  background-image: linear-gradient(180deg, rgb(27, 23, 17), rgb(52, 42, 28), rgb(74, 57, 51), rgb(65, 48, 39), rgb(27, 23, 17));
}

.heading {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.8rem 3rem;
  font-size: 1.6rem;
  font-weight: bolder;
  font-style: italic;
  border: 1px solid var(--gold);
  background-image: linear-gradient(40deg, rgb(251, 227, 86), white, var(--gold));
  color: black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  box-shadow: 1px 1px 2px black;
}

.homeLink {
  display: flex;
  position: absolute;
  left: 0.8rem;
}

.homeLinkImg {
  display: flex;
  height: 80px;
  border: 2px solid var(--gold);
  border-radius: 20%;
  box-shadow: 1px 1px 2px black;
}


/* MONSTER LIST */
.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.searchBar {
  display: flex;
  width: 18rem;
  min-width: 250px;
  height: 2.4rem;
  border: 3px solid rgb(52, 42, 28);
  border-radius: 6px;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: 2px 2px 3px rgb(120, 83, 69);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* MONSTER CARD */
.monsterCard {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 0.4rem solid rgb(52, 42, 28);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  box-shadow: 2px 2px 3px rgb(120, 83, 69);
  width: 16rem;
  height: 18rem;
  background-color: white;
  overflow: hidden;
  transition: all .2s ease-in-out; 
}

.monsterCard:hover {
  transform: scale(1.02);
}

.monsterCard:active {
  transform: scale(1);
  box-shadow: none;
}

.monsterImg {
  display: flex;
  object-fit: cover;
  max-width: 98%;
  max-height: 98%;
  justify-self: center;
  padding: 0.5rem 0 1rem 0;
}

.cardLabel {
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  justify-content: center;
  height: fit-content;
  font-size: 1.2rem;
  font-weight: bolder;
  font-style: italic;
  border: 1px solid var(--gold);
  background-image: linear-gradient(40deg, rgb(251, 227, 86), white, var(--gold));
  color: black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  box-shadow: 1px 1px 2px black;
  width: 90%;
}

.cardLabel:hover {
  background-image: none;
  backdrop-filter: blur(8px) sepia(70%);
}



/* MONSTER STAT PAGE */
.statSheetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 400px;
  border: 1px solid var(--gold);
  border-radius: 6px;
  background-color: gainsboro
}

section {
  justify-content: center;
  align-items: center;
  width: 96%;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.2rem;
  margin: 0.5rem;
  background-color: white;
}

.bioContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 18rem;
}

.statBlockImg {
  display: flex;
  max-height: 98%;
  max-width: 40%;
  object-fit: cover;
  border: 1px solid var(--gold);
  border-radius: 6px;
  box-shadow: 1px 1px 4px black;
}

.bioinfo {
  display: flex;
  flex-direction: column;
}

.monsterNameCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  font-style: italic;
  border: 1px solid var(--gold);
  background-image: linear-gradient(40deg, rgb(251, 227, 86), white, var(--gold));
  color: black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  box-shadow: 1px 1px 2px black;
}


/* ANIMATIONS */

/* ----------------------------------------------
 * Generated by Animista on 2023-9-27 23:7:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}